* text=auto
*.sh text eol=lf
*.yml text eol=lf
*.cmake text eol=lf
*.cmake.in text eol=lf
*.desktop text eol=lf
scripts/linux/zcversionbox text eol=lf
tests/linux/Dockerfile* text eol=lf
3rdparty/qt-licenses/*.txt text eol=lf
